<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!-- 引入JDBC数据库配置文件 Go -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:jdbc.properties</value>
            </list>
        </property>
    </bean>
    <!-- 引入JDBC数据库配置文件 End -->

    <!-- C3P0数据源配置 Go -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <!-- 数据库地址 -->
        <property name="jdbcUrl" value="${url}"/>
        <!-- 数据库驱动 -->
        <property name="driverClass" value="${driver}"/>
        <!-- 数据库账户名 -->
        <property name="user" value="${username}"/>
        <!-- 数据库密码 -->
        <property name="password" value="${password}"/>
        <!-- 连接池最大连接数 -->
        <property name="maxPoolSize" value="100"/>
        <!-- 连接池最小连接数 -->
        <property name="minPoolSize" value="1"/>
        <!-- 初始化时连接数 -->
        <property name="initialPoolSize" value="10"/>
        <!-- 最大空闲时间 -->
        <property name="maxIdleTime" value="30"/>
        <!-- 一次获取连接数 -->
        <property name="acquireIncrement" value="5"/>
        <!-- JDBC的标准参数 -->
        <property name="maxStatements" value="0"/>
        <!-- 检查连接池空闲连接间隔 -->
        <property name="idleConnectionTestPeriod" value="60"/>
        <!-- 连接失败重试次数 -->
        <property name="acquireRetryAttempts" value="30"/>
        <!-- 连接失败后数据源将断开并永久关闭 -->
        <property name="breakAfterAcquireFailure" value="true"/>
        <!-- 性能消耗极大请谨慎使用 -->
        <property name="testConnectionOnCheckout" value="false"/>
    </bean>
    <!-- C3P0数据源配置 Go -->

    <!-- SqlSession工厂配置 Go -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mappers/*.xml"/>
    </bean>
    <!-- SqlSession工厂配置 End -->

    <!-- 自动扫描配置 Go -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.net.stacks.DataBase"/>
    </bean>
    <!-- 自动扫描配置 End -->

    <!-- 事务管理器配置 Go -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 事务管理器配置 End -->

    <!-- 注解事务配置 Go -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- 注解事务配置 End -->

</beans>